<div style="text-align:center">
<br></br>
<h1>Dashboard</h1>
<br></br>

<!-- dropdown for hospitals-->
<form action="/dashboard">
<label> <h5>Select Hospital</h5> </label>
<br>
<select name="hospital_id" id="hospital_select" onchange="showSummary(this.options[this.selectedIndex].value)" class="btn btn-primary dropdown-toggle">

</select>
</form>


<!-- Populate dropdown or hospital select with hospitals-->
<% @hospitals.each do |hospital| %>
  <script >
     select = document.getElementById('hospital_select')
     option = document.createElement( 'option' );
     option.value = <%= hospital.id %>
     option.text = "<%= hospital.hospital_name %>";
     select.add( option );
  </script>
<%end%>


<!-- Scrollable modal pops up with hospital information-->
    <div id="summaryInfo" style="display:none;" class="modal-dialog modal-dialog-scrollable">
        <div class = "modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modal_title">Clinical Site Information</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
          </div>
          <div id = "card_body" class="card-body">     <!-- Card body-->
            <h5 id="hosp_name" class="text-center" class="card-title"></h5>
            <p id= "hosp_loc" class="card-text"></p>
            <p id= "hosp_contact" class="card-text"></p>
            <h5 id= "hosp_capacity"></h5>
            <h5 id= "hosp_site_fac"></h5>
          </div>
          <div class="modal-footer">                  <!-- Modal Footer-->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal()">
            Close
            </button>
          </div>
        </div>
    </div>

<!-- function to display hospital summary on card -->
<script>
  var showSummary = function(hospID) {
    document.getElementById("summaryInfo").style.display = "flex";
    
    <% @hospitals.each do |hospital| %>
       if (hospID == "<%= hospital.id%>") {
          document.getElementById('hosp_name').innerHTML = "<%= hospital.hospital_name%>"
          document.getElementById('hosp_loc').innerHTML = "<%= hospital.hospital_location%>";
          document.getElementById('hosp_contact').innerHTML = "Contact: " + "<%= hospital.hospital_contactNo%>";
          <% @site_facilitator_allocations.each do |site_facilitator_allocation| %>
               document.getElementById('hosp_site_fac').innerHTML = "Site Facilitator: ";
              <%if site_facilitator_allocation.hospital_id == hospital.id%>
                  <% @site_facilitator = @site_facilitators.find(site_facilitator_allocation.site_facilitator_id) %>
                  document.getElementById('hosp_site_fac').innerHTML = "Site Facilitator: " + "<%= @site_facilitator.Site_Facilitator_Name%>";
              <%end%>
          <%end%>
          
                // get reference to table to show allocated students
          var table = document.getElementById('students_table');
          var rowCount = table.rows.length;
          for (var x=rowCount-1; x>0; x--) {
            table.deleteRow(x);
          }
          var row = table.insertRow(table.rows.length);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          
          //<!--Find the students that are at the specific hospital-->
            <% @student_details = @schedules.where(:hospital_id => hospital.id) %>
            <% @student_details.each do |student_detail| %>
                //<!--Get the student's name from the user table-->
                <% student = @users.find(student_detail.student_id) %>
                cell1.innerHTML = "<%= student_detail.student_id%>"
                cell2.innerHTML = "<%= student.user_FirstName %>"
                cell3.innerHTML = "<%= student.user_LastName %>"
            <%end%>
            table_records.children().remove();
       }
    <%end%>

  };
</script>

<script>
  function closeModal(){
  document.getElementById("summaryInfo").style.display = "none";
  }
</script>


<!--The selected hospital is a variable that stores the ID from the dropdown-->
<!--FAVOUR! CHANGE THE 1 TO THE VALUE THAT IS OBTAINED FROM THE DROPDOWN. JUST USED 1 FOR TESTING!!-->
 

<!--Code below does not need to be modified. Looks like it works perfectly for the one test case I tried-->
<div class="m-4">
<table class="table table-hover" id="students_table">
  <thead >
    <tr>
      <th scope="col"><h6>Student ID</h6></th>
      <th scope="col"><h6>Student First Name</h6></th>
      <th scope="col"><h6>Student Last Name</h6></th>
    </tr>
  </thead>
  <tbody id= "table_records">
 
  </tbody>
</table>
<div>



