<div style="text-align:center">
<br></br>
<h1>Dashboard</h1>
<br></br>


<!--The table below can be deleted after you are done with it-->
<div class="m-4">
<table class="table table-hover">
  <thead >
    <tr>
      <th scope="col"><h6>Hospital Name</h6></th>
      <th scope="col"><h6>Specialty</h6></th>
      <th scope="col"><h6>Available Slots</h6></th>
      <th scope="col"><h6>Used Slots</h6></th>


    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
      <% @allocations_for_hospital = @allocations.where(:hospital_id => hospital.id) %>

      <% @allocations_for_hospital.each do |allocation_for_hospital| %>
        <% specialty_from_allocation = @specialties.find(allocation_for_hospital.specialty_id) %>
          <tr>
          <td class="col-4"><%= hospital.hospital_name %></td>
          <td class="col-4"><%= specialty_from_allocation.SpecialtyName %></td>
            
          <% @available_slots = allocation_for_hospital.available_slots %>
          <% @used_slots = allocation_for_hospital.used_slots %>

          <td class="col-1"><%= @available_slots %></td>
          <td class="col-4"><%= @used_slots %></td>
            
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div>

<br>
<br>
<br>
<br>
<br>
</div>
<!--DELETE UNTIL HERE!!=========================-->

<!--The selected hospital is a variable that stores the ID from the dropdown-->
<!--FAVOUR! CHANGE THE 1 TO THE VALUE THAT IS OBTAINED FROM THE DROPDOWN. JUST USED 1 FOR TESTING!!-->
 <% selectedHospital = 1 %>

<!--Code below does not need to be modified. Looks like it works perfectly for the one test case I tried-->
<div class="m-4">
<table class="table table-hover">
  <thead >
    <tr>
      <th scope="col"><h6>Student ID</h6></th>
      <th scope="col"><h6>Student First Name</h6></th>
      <th scope="col"><h6>Student Last Name</h6></th>
    </tr>
  </thead>
  <tbody>
 
      <!--Find the students that are at the specific hospital-->
      <% @student_details = @schedules.where(:hospital_id => selectedHospital) %>
      <% @student_details.each do |student_detail| %>
      <!--Get the student's name from the user table-->
        <% student = @users.find(student_detail.student_id) %>
          <tr>
          <td class="col-4"><%= student_detail.student_id%></td>
          <td class="col-4"><%= student.user_FirstName %></td>
          <td class="col-4"><%= student.user_LastName %></td> 
          </tr>
      <% end %>
  </tbody>
</table>
<div>



