
<h1>Dashboard</h1>
<div class="container">
  <p><%= link_to 'Manage Users', dashboard_index_path, class:"btn btn-primary btn-lg" %></p>
  <p><%= link_to 'Manage Groups', dashboard_index_path, class:"btn btn-primary btn-lg" %></p>
  <p><%= link_to 'Manage Hospitals', dashboard_index_path, class:"btn btn-primary btn-lg" %></p>
  <p><%= link_to 'Manage Specialties', dashboard_index_path, class:"btn btn-primary btn-lg" %></p>
  <p><%= link_to 'Manage Programmes', dashboard_index_path, class:"btn btn-primary btn-lg" %></p>
</div>
