<%= form_with(model: programme_course) do |form| %>
  <% if programme_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(programme_course.errors.count, "error") %> prohibited this programme_course from being saved:</h2>

      <ul>
        <% programme_course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>







  <div class="field">

    <p hidden><%= form.label :programme_id  %></p>
    <p hidden><%= form.number_field :programme_id, value: @programme_code  %></p>

  </div>


  <div class="field">


    <%= form.label :course_id %>
    <%= collection_select(:programme_course, :course_id, Course.all, :id, :CourseDescription, {}, { :multiple => false} ) %>
  <!--  <%= form.select :CourseID, Courses: @courses_array_desc %> -->

  </div>
<br></br>
  <div class="actions">
    <%= form.submit "Add Course", class:"btn btn-secondary"%>
  </div>
<% end %>
