<p id="notice"><%= notice %></p>

<h1>Programmes</h1>

<div class="container-fluid">
    <% @programmes.each do |programme| %>
    <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header"><%= programme.programme_code %></div>



        <div class="container-fluid">
    <div>
        <table class="table">
            <thead>







            </thead>

            <tbody>

                <!--Need to loop through each course belonging to that programme -->
                <%  @programmes.each do |programme| %>
                    <tr>
                        <!-- <%= programme.programme_code %> -->
                    </tr>
                <% end %>
                <td><%= link_to 'Show', programme, class: "btn btn-outline-info" %></td>
                <td><%= link_to 'Edit', edit_programme_path(programme),class: "btn btn-outline-primary" %></td>
                <td><%= link_to 'Delete', programme, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' },class: "btn btn-outline-danger" %></td>
            </tbody>
        </table>

    </div>
</div>
</div>
<% end %>






<%= link_to 'New Programme', new_programme_path, class:"btn btn-primary btn-lg" %>
