<p id="notice"><%= notice %></p>

<p>
  <strong>Programme code:</strong>
  <%= @programme.programme_code %>
  <hr></hr>
  <strong>Associated Courses:</strong>
  <br></br>
  <% @programmecourses.each do |programmecourse| %>

    <%if programmecourse.programme_id == @programme.id%>
          <% @courses.each do |course| %>
            <%if course.id == programmecourse.course_id %>
              <%= course.CourseDescription %>
            <%end%>

          <%end%>
<%end%>
    <%end%>

</p>

<%= link_to 'Edit', edit_programme_path(@programme) %> |
<%= link_to 'Back', programmes_path %>
