
<%= form_with(model: rotation) do |form| %>
  <% if rotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rotation.errors.count, "error") %> prohibited this rotation from being saved:</h2>

      <ul>
        <% rotation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



     <label for="rotationStart">Rotation Start Date:</label>
     </br>
    <%= form.date_field :startDate, class:"form-control" ,id:"rotationStart",placeholder:"Rotation Start Date" %>
    </br>
     <label for="rotationEnd">Rotation End Date:</label>
     </br>
    <%= form.date_field :endDate, class:"form-control" ,id:"rotationEnd",placeholder:"Rotation End Date" %>
    </br>

    <label for="programme_id">Programme ID:</label>
    <%= form.number_field :programme_id ,class:"form-control" , id:"programme_id", placeholder: "Programme ID" %>

    </br>


  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>



<% end %>
