<%= form_with(model: rotation) do |form| %>
  <% if rotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rotation.errors.count, "error") %> prohibited this rotation from being saved:</h2>

      <ul>
        <% rotation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :startDate %>
    <%= form.date_select :startDate %>
  </div>

  <div class="field">
    <%= form.label :endDate %>
    <%= form.date_select :endDate %>
  </div>

  <div class="field">
    <%= form.label :programme_id %>
    <%= form.number_field :programme_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
