<div style="text-align:center">
<br></br>
<h1>Manage Rotations</h1>
<br></br>

<div class="container-fluid">
    <div class="d-flex justify-content-evenly">

        <!--<button type="button" class="btn btn-outline-secondary">Add From CSV</button>-->
        <%= link_to 'Create New Rotation', new_rotation_path, class: "btn btn-primary", style: "width: 13rem; height: 2.5rem;"%>
        <!-- <button type="button" class="btn btn-outline-secondary">Remove From CSV</button> -->

      <!--  <form action="csvs/add_csv">
          <label for="file">Choose CSV file to upload</label>
          <input type="file" name="filename" value = "rotations.csv" accept=".csv">
          <input type="submit">
        </form>

        <form method="get" action= "csvs/add_csv" class="button_to" data-remote="true" data-type="json">
        <input value="add_csv" type="submit" />
        <input name="authenticity_token" type="hidden" value="10f2163b45388899ad4d5ae948988266befcb6c3d1b2451cf657a0c293d605a6"/>
        </form>

        -->
        <div>
        <%= form_tag import_rotations_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import Rotations from CSV", class: "btn btn-primary", style: "width: 13rem; height: 2.5rem;" %>
        <% end %>
        </div>
    </div>
</div>
<br>




<table class="table table-hover">


  <!----------------------------------------->
  <thead>
    <tr>
        <th scope="col">Rotation ID</th>
          <th scope="col">Rotation Start Date</th>
          <th scope="col">Rotation End Date</th>
         <th  scope="col"></th>
    </tr>
  </thead>

  <!---------------------------------------------------------------------------------------------->



  <tbody>
        <% @rotations.each do |rotation| %>

          <tr>
          <td class="col-4"><%= rotation.id %></td>
          <td class="col-4"><%= rotation.startDate %></td>
          <td class="col-4"><%= rotation.endDate %></td>

            <td class="col-1">

                <div class="btn-group" role="group" aria-label="Basic example">


                <%= link_to 'Edit', edit_rotation_path(rotation), class:"btn btn-outline-primary", style: "width: 5rem; height: 2.5rem;" %>
                <%= link_to 'Delete', rotation, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger", style: "width: 5rem; height: 2.5rem;" %>



              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
  <!---------------------------------------------------------------------------------------------->







</table>

<br>




<br>
<br>
</div>



<br>
