<%= form_with(model: group_assignment) do |form| %>
  <% if group_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_assignment.errors.count, "error") %> prohibited this group_assignment from being saved:</h2>

      <ul>
        <% group_assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field form-inline">


    <br/>
        <!--<%= form.text_field :group_id, class:"form-control" ,id:"Group",placeholder:"Group ID" %>-->
        <p hidden><%= form.number_field :group_id, value: @group_id  %></p>




     </br>

    <%= form.label :StudentID, "Select Student: " %>
    <%= collection_select(:group_assignment, :StudentID, User.all, :id, :user_FirstName, {}, { :multiple => false} ) %>
    </br>


     </br>
    <%= form.number_field :GroupYear, class:"form-control" ,id:"GroupY",placeholder:"Group Year" %>
  </div>

  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
  <!------->

<% end %>
