<%= form_with(model: group_assignment) do |form| %>
  <% if group_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_assignment.errors.count, "error") %> prohibited this group_assignment from being saved:</h2>

      <ul>
        <% group_assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.text_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :StudentID %>
    <%= form.number_field :StudentID %>
  </div>

  <div class="field">
    <%= form.label :GroupYear %>
    <%= form.number_field :GroupYear %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
