<p id="notice"><%= notice %></p>


<!--SEARCH BAR-->


<%= search_form_for @q do |f| %>
<div class="d-flex flex-row">
 <%= f.search_field :group_id_or_StudentID_or_GroupYear_eq ,class:"form-control mr-sm-2" ,placeholder:"Search" %>
 <%= f.submit class:"btn btn-outline-dark" %>
<% end %>

</div>
<!-- ================-->
</br>

<div class="container-fluid">
    <div class="d-flex justify-content-evenly">
    
 
        <%= link_to 'Back', groups_path,class:"btn btn-outline-dark" %>
        <%= link_to 'Assign Student', new_group_assignment_path, class:"btn btn-outline-dark"  %>
      
        
    </div>
</div>
<!--------------------------->


<div class="m-4">


  <table class="table table-hover">
      <thead>
        <tr>
        <th scope="col">Group ID</th>
          <th scope="col">Student ID</th>
          <th scope="col">Group Year</th>
         <th  scope="col"></th>
        </tr>
      </thead>
<!-------------------------------------------------------->
<tbody>
      
        <% @group_assignments.each do |group_assignment| %>

     
          <tr>
          
       

            <td class="col-4"><%= group_assignment.group_id %></td>
            <td class="col-4"><%= group_assignment.StudentID %></td>
            <td class="col-4"><%= group_assignment.GroupYear %></td>


          
            
            <td class="col-1">
             
                <div class="btn-group" role="group" aria-label="Basic example">
                <%= link_to 'Show', group_assignment, class:"btn btn-outline-dark" %>
                
                <%= link_to 'Edit', edit_group_assignment_path(group_assignment), class:"btn btn-outline-dark" %>
                <%= link_to 'Delete', group_assignment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-dark" %>
                
                
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
  <!--------------------------------------------------------->
  
</table>
</div>

<br>



<br>


<br>

