<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @group_assignment.group_id %>
</p>

<p>
  <strong>Studentid:</strong>
  <%= @group_assignment.StudentID %>
</p>

<p>
  <strong>Groupyear:</strong>
  <%= @group_assignment.GroupYear %>
</p>

<%= link_to 'Edit', edit_group_assignment_path(@group_assignment) %> |
<%= link_to 'Back', group_assignments_path %>
