<p id="notice"><%= notice %></p>

<h1>Allocations</h1>

<table>
  <thead>
    <tr>
      <th>Hospital</th>
      <th>Specialty</th>
      <th>Available slots</th>
      <th>Used slots</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allocations.each do |allocation| %>
      <tr>
        <td><%= allocation.hospital_id %></td>
        <td><%= allocation.specialty_id %></td>
        <td><%= allocation.available_slots %></td>
        <td><%= allocation.used_slots %></td>
        <td><%= allocation.start_date %></td>
        <td><%= allocation.end_date %></td>
        <td><%= link_to 'Show', allocation %></td>
        <td><%= link_to 'Edit', edit_allocation_path(allocation) %></td>
        <td><%= link_to 'Destroy', allocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allocation', new_allocation_path %>
