<p id="notice"><%= notice %></p>


<div style="text-align:center">
<br>
<h1>Manage Students</h1>

<table class="table table-hover ">
  <thead>
    <tr>
      <th scope="col"><h6>Student Number</h6></th>
      <th scope="col"><h6>First Name</h6></th>
      <th scope="col"><h6>Last Name</h6></th>
      <th scope="col"><h6>Course Codes</h6></th>
      <th scope="col"><h6>Programme ID</h6></th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>
  <br>
  <%= link_to 'Add New Student', new_student_path, class: "btn btn-primary", style: "width: 12rem; height: 2.5rem;" %>
<br></br>
  <tbody>
    <% @students.each do |student| %>

      <tr>
        <td class="col-2"><%= student.studentNumber %></td>
        <td class="col-2"><%= @users.find(student.user_id).user_FirstName %></td>
        <td class="col-2"><%= @users.find(student.user_id).user_LastName %></td>
        <td class="col-2"><%= student.courseCodes %></td>
        <td class="col-2"><%= student.programme_id %></td>
        <td class="col-2">

        <div class="btn-group" role="group" aria-label="Basic example">
          <%= link_to 'Show', student, class: "btn btn-outline-primary", style: "width: 5rem; height: 2.5rem;" %>
          <%= link_to 'Edit', edit_student_path(student), class: "btn btn-outline-primary", style: "width: 5rem; height: 2.5rem;" %>
          <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger", style: "width: 5rem; height: 2.5rem;" %>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>
