<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!------>
  <div class="field form-inline">
   
    
    <br/>
     <label for="Spec">Specialty ID:</label>
     </br>
    <%= form.text_field :specialty_id, class:"form-control" ,id:"Spec",placeholder:"Specialty ID" %>
    </br>
    <label for="Bloc">Block ID:</label>
    
     </br>
    <%= form.text_field :block_id, class:"form-control" ,id:"Bloc",placeholder:"Block ID" %>
  </div>
   
  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
  <!------->

<% end %>
