<p id="notice"><%= notice %></p>

<!---Search bar-->
<%= search_form_for @q do |f| %>
<div class="d-flex flex-row">

 <%= f.search_field :id_eq ,class:"form-control mr-sm-2" ,placeholder:"Enter Group ID" %>
 <%= f.submit class:"btn btn-outline-dark" %>
<% end %>
</div>
<!-- ================-->
</br>


  <div class="container-fluid">
    <div class="d-flex justify-content-evenly">
        <%= link_to 'New Group', new_group_path, class:"btn btn-outline-dark"  %>
      
        <%= link_to 'Group assignments',group_assignments_path,class:"btn btn-outline-dark" %>
    </div>
</div>
  

<br>

<!---#################################################################-->
<div class="m-4">
    <table class="table table-hover">
      <thead>
        <tr>
        <th scope="col">Group ID</th>
          <th scope="col">Specialty</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
         <th  scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>

     
          <tr>
          <td class="col-3"><%= group.id %></td>
          <td class="col-3"><%=  Specialty.find(group.specialty_id).SpecialtyName %></td>
          <td class="col-3"><%=  Block.find(group.block_id).BlockStartDate %></td>
          <td class="col-3"><%=  Block.find(group.block_id).BlockEndDate %></td>


          
            
            <td class="col-2">
             
                <div class="btn-group" role="group" aria-label="Basic example">
                <%= link_to 'Show', group, class:"btn btn-outline-dark" %>
                
                <%= link_to 'Edit', edit_group_path(group), class:"btn btn-outline-dark" %>
                <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-dark" %>
                
                
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>



<br>

<br>


<br>



