<p hidden id="notice" ><%= notice %></p>
<br>
<div style="text-align:center">

<h1>Manage Groups</h1>
<br></br>
<!---Search bar-->

<div class="container-fluid">
  <div class="d-flex justify-content-evenly">
      <%= link_to 'New Group', new_group_path, class:"btn btn-primary", style: "width: 12rem; height: 2.5rem;"  %>

      <%= link_to 'Group assignments',group_assignments_path,class:"btn btn-primary", style: "width: 12rem; height: 2.5rem;" %>
  </div>
</div>
<br>
<%= search_form_for @q do |f| %>
<div class="d-flex flex-row">

 <%= f.search_field :id_eq ,class:"form-control mr-sm-2" ,placeholder:"Enter Group ID" %>
 <%= f.submit class:"btn btn-outline-dark" %>
<% end %>
</div>
<!-- ================-->
</br>





<br>

<!---#################################################################-->
<div class="m-4">
    <table class="table table-hover">
      <thead>
        <tr>
        <th scope="col"><h6>Group ID</h6></th>
          <th scope="col"><h6>Specialty</h6></th>
          <th scope="col"><h6>Start Date</h6></th>
          <th scope="col"><h6>End Date</h6></th>
         <th  scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>


          <tr>
          <td class="col-3"><%= group.id %></td>
          <td class="col-3"><%=  Specialty.find(group.specialty_id).SpecialtyName %></td>
          <td class="col-3"><%=  Block.find(group.block_id).BlockStartDate %></td>
          <td class="col-3"><%=  Block.find(group.block_id).BlockEndDate %></td>




            <td class="col-2">
             <%= link_to 'Assign Students', new_group_assignment_path(:group_id => group.id), class:"btn btn-outline-dark"  %>
             <p></p>
                <div class="btn-group" role="group" aria-label="Basic example">
                <%= link_to 'Show', group, class:"btn btn-outline-primary",style: "width: 5rem; height: 2.5rem;" %>

                <%= link_to 'Edit', edit_group_path(group), class:"btn btn-outline-primary", style: "width: 5rem; height: 2.5rem;" %>
                <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger", style: "width: 5rem; height: 2.5rem;" %>


              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>



<br>

<br>


<br>
</div>
