<p id="notice"><%= notice %></p>

<p>
  <strong>Groupstudentid:</strong>
  <%= @group.GroupStudentID %>
</p>

<p>
  <strong>Groupstudentyear:</strong>
  <%= @group.GroupStudentYear %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
