</br>
<div class="container">
	<div class="row">

	<%= search_form_for @q do |f| %>

		<div class="col-md form-group form-inline my-2 my-lg-0 ">
		
			<%= f.search_field :user_FirstName_or_user_LastName_or_user_ContactNo_cont, class: 'form-control mr-sm-2', placeholder: "Search"%>
	</div>
	<div class="col-sm form-group form-inline my-2 my-lg-0 ">
			<%= f.select :user_Type_cont, options_for_select( [["All",""],"Admin","Student","Registrar","Consultant"]),{:prompt=>"Sort By"},{class: "form-control mr-sm-2 "}%>
		
		</div>
		

		<div class="col-sm">
			<%= f.submit  class: "btn btn-outline-success my-2 my-sm-0" %> 

	<% end %>
	
      <%=link_to "Clear search",users_path,class: "btn btn-outline-info"%>
    </div>
	

	</div>
</div>