


<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>





  <!------>
  <div class="field form-inline">


    <br/>
     <label for="Email">Email:</label>
     </br>
    <%= form.text_field :email, class:"form-control" ,id:"Email",placeholder:"Email" %>
    </br>

    <label for="Name">Name:</label>
     </br>
    <%= form.text_field :user_FirstName, class:"form-control" ,id:"Name",placeholder:"Name" %>
    </br>

    <label for="Surname">Surname:</label>
     </br>
    <%= form.text_field :user_LastName, class:"form-control" ,id:"Surname",placeholder:"Surname" %>
    </br>

    <label for="password">Password:</label>
     </br>
    <%= form.text_field :password, class:"form-control" ,id:"password",placeholder:"Password" %>
    </br>


    <label for="ContactNo">Contact No:</label>
     </br>
    <%= form.text_field :user_ContactNo, class:"form-control" ,id:"ContactNo",placeholder:"Contact No" %>
    </br>


    <%= form.select :user_Type, options_for_select( ["Admin","Student","Registrar","Consultant"]),{:prompt=>"Select Type"},{class: "form-control "}%>




  </div>

  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
  <!------->

<% end %>
