<br/>
<p id="notice"><%= notice %></p>


<div class="form_card" >
  <div class="card-body">

    <p class="lead"><b>Email:</b></p>
    <p class="lead"><%= @user.email %></p>

    <p class="lead"><b>Name:</b></p>
    <p class="lead"><%= @user.user_FirstName %></p>

    <p class="lead"><b>Surname:</b></p>
    <p class="lead"><%= @user.user_LastName %></p>

    <p class="lead"><b>Contact No:</b></p>
    <p class="lead"><%= @user.user_ContactNo %></p>

    <p class="lead"><b>User Type:</b></p>
    <p class="lead"><%= @user.user_Type %></p>

    <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-outline-dark"%>
    <%= link_to 'Back', users_path, class:"btn btn-outline-dark" %>

  </div>
</div>

<br/>




<!------------------------------------------------------------------------------------------------------>
