


<div style="text-align:center">
<br></br>
<h1>Manage Schedules</h1>

<br>
<div class="container-fluid">
    <div class="d-flex justify-content-evenly">



    </div>
</div>

<!-- Add search forms for OWN model -->
<!-- unless statement takes out search bar when editing,creating,etc-->
<% unless url_for != users_path %>
<!--Makes the seach field neater however cant find a way to pull search field to  right of navbar -->
  <form class="form-inline my-2 my-lg-0">
      <%=render "users/filters"%>
  </form>
<% end %>
<!--ADD Below check users controller and -filters.html.erb for eg -->



<form action="/schedules">
<label> Select Programme Code </label>
<select name="programme_id" id="programme_id" onchange="this.form.submit()">
<%= options = options_from_collection_for_select(Programme.all, 'id', 'programme_code',@current_programme_id) %>
</select>
</form>






<div class="m-4">

<table class="table table-hover ">


  <!----------------------------------------->
  <thead>
        <tr>
          <th scope="col">Student Number</th>
          <th scope="col">Student First Name</th>
          <th scope="col">Student Last Name</th>

          <% for i in 1..@numRotations do %>
            <%# @users[i].name %>
            <th scope="col">Rotation <%= i %></th>
          <% end %>

         <th  scope="col"></th>
        </tr>
      </thead>

  <!---------------------------------------------------------------------------------------------->

  <tbody>

        <% @students.each do |student| %>

          <tr>
          <td class="col-1"><%= student.studentNumber %></td>
          <td class="col-3"><%= @users.find(student.user_id).user_FirstName %></td>
          <td class="col-3"><%= @users.find(student.user_id).user_LastName %></td>
           
          <% @rotations.each do |rotation| %>
          <td class="col-2">
                
  
            <form action="/schedules/create_schedule" method="post">
              <label> Select Specialty </label>
              <select name="specialty_id" id="specialty_id">
                <%= options = options_from_collection_for_select(Specialty.all, 'id', 'SpecialtyName') %>
              </select>
              <br></br>

              <label> Select Hospital </label>
              <select name="hospital_id" id="hospital_id">
                <%= options = options_from_collection_for_select(Hospital.all, 'id', 'hospital_name') %>
              </select>
              <br></br>

              <input type="hidden" id="rotation_id" name="rotation_id" value= <%= rotation.id %>>
              <input type="hidden" id="student_id" name="student_id" value= <%= student.id %>>
              <br>
              <input type="submit" value="Submit">
            </form>
   
              </div>
      
          </td>

          <% end %>

          </tr>
        <% end %>
      </tbody>
  <!---------------------------------------------------------------------------------------------->



</table>
</div>

<br>





<br>
<br>
</div>
