<%= form_with(model: specialty) do |form| %>
  <% if specialty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specialty.errors.count, "error") %> prohibited this specialty from being saved:</h2>

      <ul>
        <% specialty.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-inline">
   
    
    <br/>
    <%= form.text_field :SpecialtyName, class:"form-control" ,id:"Spec",placeholder:"Specialty Name" %>
  </div>
   
  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>

  


<% end %>
