<p id="notice"><%= notice %></p>

<span><h1>Specialties</h1> <%= link_to 'New Specialty', new_specialty_path %></span>
<div class="m-4">
    <table class="table">
      <thead>
        <tr>
        <th scope="col">Specialty ID</th>
          <th scope="col">Specialty Name</th>
         <!-- <th colspan="3" scope="col"></th>-->
        </tr>
      </thead>

      <tbody>
        <% @specialties.each do |specialty| %>
          <tr>
            <td class="col-4">GOGOGOO</td>
            <td class="col-4"><%= specialty.SpecialtyName %></td>
            
            <td class="col-1">
             
                <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-outline-dark"><%= link_to 'Show', specialty %></button>
                <button class="btn btn-outline-dark"><%= link_to 'Edit', edit_specialty_path(specialty) %></button>
                <button class="btn btn-outline-dark"><%= link_to 'Destroy', specialty, method: :delete, data: { confirm: 'Are you sure?' } %> </button>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>


<br>

