

<%= form_with(model: block) do |form| %>
  <% if block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
        <% block.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!------------------------------------------------------------------------------>


   

     <label for="blockStart">Block Start Date:</label>
     </br>
    <%= form.date_field :BlockStartDate, class:"form-control" ,id:"blockStart",placeholder:"Block Start Date" %>
    </br>
     <label for="blockEnd">Block End Date:</label>
     </br>
    <%= form.date_field :BlockEndDate, class:"form-control" ,id:"blockEnd",placeholder:"Block End Date" %>
    </br>

    


  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>



<% end %>
