<div style="text-align:center">
<br></br>
<h1>Manage Blocks</h1>
<br></br>

<script>
  //Show/Hide "Import from CSV" div -->
  function toggleShow() {
    var x = document.getElementById("csvBlocks");
    var btnShowDiv = document.getElementById("btnShowCSVdiv");

    if (x.style.display == "none") {
      x.style.display = "block";
      btnShowDiv.className = "btn btn-outline-primary";
    } else {
      x.style.display = "none";
      btnShowDiv.className = "btn btn-primary";
    }
  }

//Toggle Import Button
  function toggleButton(){
    var uploadBox = document.getElementById("uploadBox");
    var x = document.getElementById("btnImport");
    if(uploadBox.value == ""){
      x.disabled = true;
    }
    else{
      x.disabled = false;
    }

  }

</script>



        <!--<button type="button" class="btn btn-outline-secondary">Add From CSV</button>-->
        <%= link_to 'Create New Block', new_block_path, class: "btn btn-primary", style: "width: 13rem; height: 2.5rem;"%>
        <br></br>
        <!-- <button type="button" class="btn btn-outline-secondary">Remove From CSV</button> -->


        <button class = "btn btn-primary", style = "width: 13rem; height: 2.5rem;", onclick = "toggleShow()", id = "btnShowCSVdiv">Import Blocks from CSV</button>
        <br></br>
      <!--  <form action="csvs/add_csv">
          <label for="file">Choose CSV file to upload</label>
          <input type="file" name="filename" value = "blocks.csv" accept=".csv">
          <input type="submit">
        </form>

        <form method="get" action= "csvs/add_csv" class="button_to" data-remote="true" data-type="json">
        <input value="add_csv" type="submit" />
        <input name="authenticity_token" type="hidden" value="10f2163b45388899ad4d5ae948988266befcb6c3d1b2451cf657a0c293d605a6"/>
        </form>

        -->
        <div class="container-fluid", id = "csvBlocks" >
          <div class="d-flex justify-content-evenly">

            <script type="text/javascript">
              var x = document.getElementById("csvBlocks");
              if (x.style.display === "none") {

              } else {
                x.style.display = "none";
              }
            </script>

            <div class = "form_card"> <!-- this is for adding from csv -->
              <div class="card-heading"><strong><i>Upload the CSV File and Select Import</i></strong></div>
              <div class="card-body"></div>
        <%= form_tag import_blocks_path, multipart: true, onclick: "toggleButton()" do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import Blocks from CSV", class: "btn btn-primary", style: "width: 13rem; height: 2.5rem;",  id: "btnImport" %>
          <script>
            var x = document.getElementById("btnImport");
            x.disabled = true;
          </script>

        <% end %>
        <!-- Initially disable the Import Button -->


        </div>

        </div>
      </div>
<br>




<table class="table table-hover">


  <!----------------------------------------->
  <thead>
    <tr>
        <th scope="col">Block ID</th>
          <th scope="col">Block Start Date</th>
          <th scope="col">Block End Date</th>
         <th  scope="col"></th>
    </tr>
  </thead>

  <!---------------------------------------------------------------------------------------------->



  <tbody>
        <% @blocks.each do |block| %>

          <tr>
          <td class="col-4"><%= block.id %></td>
          <td class="col-4"><%= block.BlockStartDate %></td>
          <td class="col-4"><%= block.BlockEndDate %></td>

            <td class="col-1">

                <div class="btn-group" role="group" aria-label="Basic example">


                <%= link_to 'Edit', edit_block_path(block), class:"btn btn-outline-primary", style: "width: 5rem; height: 2.5rem;" %>
                <%= link_to 'Delete', block, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger", style: "width: 5rem; height: 2.5rem;" %>



              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
  <!---------------------------------------------------------------------------------------------->







</table>

<br>




<br>
<br>
</div>



<br>
