<p id="notice"><%= notice %></p>

<h1>Manage Blocks</h1>

<table class="table table-primary table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Block Start Date</th>
      <th>Block End Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <td><%= block.BlockStartDate %></td>
        <td><%= block.BlockEndDate %></td>
        <td><%= link_to 'Show', block %></td>
        <td><%= link_to 'Edit', edit_block_path(block) %></td>

        <td><%= button_to('Destroy', block, method: :delete, data: { confirm: 'Are you sure?' }) %> </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Block', new_block_path %>
