<%= form_with(model: block) do |form| %>
  <% if block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
        <% block.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




    <div class="field form-group col-sm-3 text-center">
    <%= form.label :BlockStartDate,"Block Start Date" %>
    <%= form.date_select :BlockStartDate, class: "form-control" %>
    </div>
    <div class="field form-group col-sm-3 text-center">
    <%= form.label :BlockEndDate,"Block Start Date" %>
    <%= form.date_select :BlockEndDate, class: "form-control" %>
    </div>


  <div class="field form-group col-sm-3 text-center">
    <%= form.label :block_LastName,"Last Name" %>
    <%= form.text_field :block_LastName,class: "form-control" %>
  </div>


  <div class="field form-group col-sm-3 text-center">
    <%= form.label :password,"Password" %>
    <%= form.text_field :password,class: "form-control" %>
  </div>

  <div class="field form-group col-sm-3 text-center">
    <%= form.label :block_ContactNo,"Contact Number" %>
    <%= form.text_field :block_ContactNo,class: "form-control" %>
  </div>

  <div class="field form-group col-sm-3 text-center">
    <%= form.select :block_Type, options_for_select( ["Admin","Student","Registrar","Consultant"]),{:prompt=>"Select Type"},{class: "form-control "}%>
  </div>

  <div class="actions col-sm-3 text-center">
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>



<% end %>
