

<%= form_with(model: course_specialty) do |form| %>
  <% if course_specialty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_specialty.errors.count, "error") %> prohibited this course_specialty from being saved:</h2>

      <ul>
        <% course_specialty.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p hidden><%= form.label :Course_id  %></p>
    <p hidden><%= form.number_field :Course_id, value: @course_id  %></p>
  </div>
</br>
  <div class="field">
    <%= form.label :specialty_id, value: "Specialty: " %>
    <%= collection_select(:course_specialty, :Specialty_id, Specialty.all, :id, :SpecialtyName, {}, { :multiple => false, :class => "btn btn-outline-dark dropdown-toggle"} ) %>

  </div>
</br>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
