<%= form_with(model: hospital) do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
        <% hospital.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-sm-3 text-center">
    <%= form.label :hospital_name,"Hospital Name" %>
    <%= form.text_field :hospital_name,class: "form-control"%>
  </div>

  <div class="field form-group col-sm-3 text-center">
    <%= form.label :hospital_locatioin,"hospital Location" %>
    <%= form.text_field :hospital_locatioin,class: "form-control" %>
  </div>

  <div class="field form-group col-sm-3 text-center">
    <%= form.label :hospital_contactNo,"Contact Number" %>
    <%= form.text_field :hospital_contactNo,class: "form-control" %>
  </div>

  <div class="actions col-sm-3 text-center">
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>
