
<%= stylesheet_link_tag "hospital" %>
<div class="text-center">
  <img src="https://holy.trinity.joburg/wp-content/uploads/2017/11/Wits-University-logo.jpg" class="rounded" alt="University Of The Witwatersrand Logo" style="width: 150px">
</div>

<div id="hospital">
  <h1><b>Hospitals</b></h1>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<table class="table table-hover table-bordered ">
  <thead style="background-color: #1757A6; color: white">
    <tr>
      <th>Hospital Name</th>
      <th>Hospital Location</th>
      <th>Contact Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.hospital_name %></td>
        <td><%= hospital.hospital_location %></td>
        <td><%= hospital.hospital_contactNo %></td>
        <td><%= link_to 'Show', hospital, class: "btn btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_hospital_path(hospital),class: "btn btn-outline-primary" %></td>
        <td><%= link_to 'Delete', hospital, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center">
    <%= link_to 'Add New Hospital', new_hospital_path,class: "btn btn-outline-info w-75" %>
</div>

