<div style="text-align:center">
<br></br>
<h1>Manage Hospitals</h1>

<br>
<div class="container-fluid">
 <div class="d-flex justify-content-evenly">
     <%= link_to 'Add New Hospital', new_hospital_path,class: "btn btn-primary", style: "width: 12rem; height: 2.5rem;"%>
     <%= link_to 'Hospital Assignments', hospital_assignments_path,class: "btn btn-primary", style: "width: 12rem; height: 2.5rem;"%>
 </div>
 <br>
</div>

<% unless url_for != hospitals_path %>

    <%=render "hospitals/filters"%>

 <br>
<% end %>







<table class="table table-hover ">
  <thead >
    <tr>
      <th scope="col"><h6>Hospital Name</h6></th>
      <th scope="col"><h6>Hospital Location</h6></th>
      <th scope="col"><h6>Contact Number</h6></th>
      <th  scope="col"></th>

    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>



      <tr>
        <td class="col-4"><%= hospital.hospital_name %></td>
        <td class="col-4"><%= hospital.hospital_location%></td>
        <td class="col-4"><%= hospital.hospital_contactNo %></td>


        <td class="col-4">

                <div class="btn-group" role="group" aria-label="Basic example">

                <%= link_to 'Show', hospital, class: "btn btn-outline-primary", style: "width: 5rem; height: 2.5rem;" %>
                <%= link_to 'Edit', edit_hospital_path(hospital), class:"btn btn-outline-primary", style: "width: 5rem; height: 2.5rem;" %>
                <%= link_to 'Delete', hospital, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger", style: "width: 5rem; height: 2.5rem;" %>


              </div>
            </td>

      </tr>
    <% end %>
  </tbody>
</table>

<div class="container-fluid">
 <div class="d-flex justify-content-evenly">

 </div>
