

<% unless url_for != hospitals_path %>
  
    <%=render "hospitals/filters"%> 
    
 <br>
<% end %>

   

   <div class="container-fluid">
    <div class="d-flex justify-content-evenly">
        <%= link_to 'Add New Hospital', new_hospital_path,class: "btn btn-outline-dark "%>
    </div>
    <br>
</div>



<table class="table table-hover  ">
  <thead >
    <tr>
      <th scope="col">Hospital Name</th>
      <th scope="col">Hospital Location</th>
      <th scope="col">Contact Number</th>
     
    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>



      <tr>
        <td class="col-4"><%= hospital.hospital_name %></td>
        <td class="col-4"><%= hospital.hospital_locatioin%></td>
        <td class="col-4"><%= hospital.hospital_contactNo %></td>

        <td class="col-1">
             
                <div class="btn-group" role="group" aria-label="Basic example">
         
                <%= link_to 'Show', hospital, class: "btn btn-outline-info" %>
                <%= link_to 'Edit', edit_hospital_path(hospital), class:"btn btn-outline-dark" %>
                <%= link_to 'Delete', hospital, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-dark" %>
                
                
              </div>
            </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br>
<br>
<br>