<p id="notice"><%= notice %></p>

<div class="container-fluid">

<h1>Courses</h1>

  <div class="row justify-content-md-center">
    <div class="col-2">
      <%= link_to 'New Course', new_course_path, class:"btn btn-outline-primary" %>
    </div>
  </div>

<div class="row">
<div class="row row-cols-1 row-cols-md-4 g-4">
<% @courses.each do |course| %>
<div class="col">
  <div class="card border-primary mb-3" style="width: 80%;">
      <h5 class="card-header">
        <%= course.CourseDescription %>
        <%= link_to 'Edit', edit_course_path(course), class:"btn btn-outline-primary" %>
      </h5> <!-- CARD HEADER CLOSING TAG -->

      <ul class="list-group list-group-flush">
        <% @course_specialties.each do |course_specialty| %>
            <%if course.id == course_specialty.Course_id%>     <!-- if course is the course in this row-->
              <% @specialties.each do |specialty| %>
                <%if specialty.id == course_specialty.Specialty_id%>
                  <li class="list-group-item"><%= specialty.SpecialtyName %></li>
                <% end %>
              <% end %>
            <% end %> 
          <% end %>
      </ul>
  </div> <!-- card-->
  </div>
  
<% end %>

</div>
</div>
</div>




<!--
<table class= "table">
  <thead>
    <tr>
      <th>Coursedescription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.CourseDescription %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<% @courses.each do |course| %>
  <div class="card">
    <div class="card-header">
    Featured
    </div>
      <table class= "table">
          <thead>
            <tr>
              <th><%= course.CourseDescription %></th>
              <th colspan="3"></th>
            </tr>
          </thead>
            <tbody>
              <% @course_specialties.each do |course_specialty| %>
                <%if course.id == course_specialty.Course_id%>          if course is the course in this row--
              
                  <% @specialties.each do |specialty| %>
                      <%if specialty.id == course_specialty.Specialty_id%>
                        <tr>
                          <td><%= specialty.SpecialtyName %></td>
                          <td><%= link_to 'Show', course %></td>
                          <td><%= link_to 'Edit', edit_course_path(course) %></td>
                          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                  <% end %>
              <% end %> 
              <% end %>
          </tbody>
      </table>
  </div>  card--
<% end %>

div class="card">

  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

>