<p id="notice"><%= notice %></p>

<h1>Site Facilitators</h1>

<table>
  <thead>
    <tr>
      <th>Site facilitator name</th>
      <th>Site facilitator contactno</th>
      <th>Site facilitator email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_facilitators.each do |site_facilitator| %>
      <tr>
        <td><%= site_facilitator.Site_Facilitator_Name %></td>
        <td><%= site_facilitator.Site_Facilitator_ContactNo %></td>
        <td><%= site_facilitator.Site_Facilitator_Email %></td>
        <td><%= link_to 'Show', site_facilitator %></td>
        <td><%= link_to 'Edit', edit_site_facilitator_path(site_facilitator) %></td>
        <td><%= link_to 'Destroy', site_facilitator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site Facilitator', new_site_facilitator_path %>
