<%= form_with(model: specialty_page) do |form| %>
  <% if specialty_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specialty_page.errors.count, "error") %> prohibited this specialty_page from being saved:</h2>

      <ul>
        <% specialty_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :specialty_ID %>
    <%= form.text_field :specialty_ID %>
  </div>

  <div class="field">
    <%= form.label :specialty_name %>
    <%= form.text_field :specialty_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
