<p id="notice"><%= notice %></p>

<h1>Specialty Pages</h1>

<table>
  <thead>
    <tr>
      <th>Specialty id</th>
      <th>Specialty name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specialty_pages.each do |specialty_page| %>
      <tr>
        <td><%= specialty_page.specialty_ID %></td>
        <td><%= specialty_page.specialty_name %></td>
        <td><%= link_to 'Show', specialty_page %></td>
        <td><%= link_to 'Edit', edit_specialty_page_path(specialty_page) %></td>
        <td><%= link_to 'Destroy', specialty_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Specialty Page', new_specialty_page_path %>
