<p id="notice"><%= notice %></p>

<p>
  <strong>Specialty id:</strong>
  <%= @specialty_page.specialty_ID %>
</p>

<p>
  <strong>Specialty name:</strong>
  <%= @specialty_page.specialty_name %>
</p>

<%= link_to 'Edit', edit_specialty_page_path(@specialty_page) %> |
<%= link_to 'Back', specialty_pages_path %>
