<%= form_with(model: hospital_assignment) do |form| %>
  <% if hospital_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital_assignment.errors.count, "error") %> prohibited this hospital_assignment from being saved:</h2>

      <ul>
        <% hospital_assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.label :user_id, "Select Student: " %>
  <%= collection_select(:hospital_assignment, :user_id, User.all, :id, :user_FirstName, {}, { :multiple => false} ) %>
</br></br>
<%= form.label :user_id, "Select Block: " %>
<%= collection_select(:hospital_assignment, :block_id, Block.all, :id, :BlockStartDate, {}, { :multiple => false} ) %>

<br></br>
<%= form.label :user_id, "Select Hospital: " %>
<%= collection_select(:hospital_assignment, :hospital_id, Hospital.all, :id, :hospital_name, {}, { :multiple => false} ) %>


  <br></br>
  <div class="actions">
    <%= form.submit class: "btn btn-secondary"%>
  </div>
<% end %>
