</style>


    <div class="text-center">
          <img src="https://holy.trinity.joburg/wp-content/uploads/2017/11/Wits-University-logo.jpg" class="rounded" alt="University Of The Witwatersrand Logo" style="width: 150px">
    </div>





<div class="card-body" >
<div class="text-center">
      <p class="lead">
        <br>
      </p>
      <hr class="my-4">
      <p>

    <p>
      <strong class="lbl">User Name:</strong>
      <%= @hospital_assignment.user.user_FirstName+" "+ @hospital_assignment.user.user_LastName %>
    </p>

    <p>
      <strong class="lbl">Hospital Name:</strong>
      <%= @hospital_assignment.hospital.hospital_name %>
    </p>

    <p>
      <strong class="lbl">Block Number:</strong>
      <%= @hospital_assignment.block_id %>
    </p>




      <p class="lead">
        <%= link_to 'Edit', edit_hospital_assignment_path(@hospital_assignment),class:"btn btn-outline-primary" %> |
        <%= link_to 'Back', hospital_assignments_path,class:"btn btn-outline-secondary" %>
      </p>

  </div>


</div>
