<!DOCTYPE html>
<html>
  <head>
    <title>Student Placement System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    <link rel="stylesheet" type="text/css" href = "../assets/Wits Health Web.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">




  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <%= render 'home/footer' %>
  </body>
</html>
